<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Item Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-title text-center>{{selectedItem.title}}</ion-title>

  <!--<h4 text-center *ngIf="selectedItem">-->
  <!--You navigated here from <b>{{selectedItem.title}}</b>-->
  <!--</h4>-->

  <ion-row>
    <button ion-button>Modifier</button>
    <button ion-button color="danger">Supprimer</button>
  </ion-row>
</ion-content>
