page-item-details {
  .contenu{
    padding-bottom: 5px;
  }

  ion-grid ion-row ion-col{
    border: 1px black groove;
  }
}

ion-grid {
  border: 1px black dashed;
  border-radius: 1em;
}

//ion-grid ion-row {
//  border: 1px black groove;
//}
