<ion-header>
  <ion-navbar>
    <ion-title>Recherche</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-searchbar placeholder="Rechercher" color="danger" (ionInput)="filterItems($event)"></ion-searchbar>
      </ion-col>
      <ion-col col-5 col-sm-4 col-md-3 col-lg-2 col-xl-2>
        <button ion-button icon-end (click)="openCloseCard()" outline>
          Avancée...
          <ion-icon name="arrow-down" *ngIf="!cardAdvancedSearchViewShow"></ion-icon>
          <ion-icon name="arrow-up" *ngIf="cardAdvancedSearchViewShow"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

    <ion-card no-padding *ngIf="cardAdvancedSearchViewShow">
      <ion-card-content>
        <ion-row>
          <ion-col col-11>
            <ion-card-title>Recherche Avancée</ion-card-title>
          </ion-col>
          <ion-col col-1 text-end>
            <button ion-button icon-end clear (click)="closeAdvancedSearch()">
              <ion-icon name="close"></ion-icon>
            </button>
          </ion-col>
        </ion-row>

        <ion-row radio-group [(ngModel)]="infoSearch">
          <ion-col>
            <ion-item>
              <ion-label>Nom</ion-label>
              <ion-radio value="product_name" checked></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label>Marque</ion-label>
              <ion-radio value="brands"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label>Pays</ion-label>
              <ion-radio value="countries_fr"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>

        <h2>Ingrédients</h2>
        <ion-list>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label>Additifs</ion-label>
                <ion-toggle [(ngModel)]="additives_n"></ion-toggle>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label>Ingrédients issus de l'huile de palme</ion-label>
                <ion-toggle [(ngModel)]="ingredients_from_palm_oil_n"></ion-toggle>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label>Ingrédients pouvant être issus de l'huile de palme</ion-label>
                <ion-toggle [(ngModel)]="ingredients_that_may_be_from_palm_oil_n"></ion-toggle>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-list>

      </ion-card-content>
    </ion-card>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col text-wrap col-4 text-center>
      <h4>Nom</h4>
    </ion-col>
    <ion-col text-wrap col-4 text-center>
      <h4>Marque</h4>
    </ion-col>
    <ion-col text-wrap col-4 text-center>
      <h4>Pays</h4>
    </ion-col>
  </ion-row>
  <ion-list [virtualScroll]="items" approxItemHeight="40px">
    <button ion-item (click)="itemTapped($event, item)" *virtualItem="let item">
      <ion-row>
        <ion-col id="product_name" text-wrap col-4 text-left>
          {{item.product_name}}
        </ion-col>
        <ion-col id="brands" text-wrap col-4 text-center>
          {{item.brands}}
        </ion-col>
        <ion-col id="countries_fr" text-wrap col-4 text-right>
          {{item.countries_fr}}
        </ion-col>
      </ion-row>
    </button>
  </ion-list>

  <ion-infinite-scroll (infinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
